<!DOCTYPE html>

<html lang = "en">
    <head>
        <title>Web chat application - Create group</title>
        <link rel="stylesheet" type="text/css"  href="../../../static/css/style.css">
    </head>

    <body class = "setup">

        <div>
            <form action = "../select">
                <input type = "submit" class="leaveGP" id = "backButton" value = "Go back">
            </form>
            <p id = "nameDisplay">
                <u>Name:</u> {{username}}
            </p>
        </div>

        <div id = "groupsetupHeading" style="text-align: center;">
        <form action = "../room/123">
            <h1 style="display: inline; margin: 0;"> Group name:
            <input type = "text" style="width: 512px;" placeholder = "Enter group name" id = "groupsetupForm">
            </h1>
        </div>

        <div class = heading id = "groupsetupHeading" style="margin-top: 100px;">
            <h1>Group ID: fhafhlahfa
            </h1>
        </div>
            <input type = "submit" class="leaveGP" id = "groupsetupButton" style = "margin-left: 20px;" value="Create"></button>
        </form>
    </body>

</html>
