<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="utf-8"/>
        <title>Web chat application - Error 404</title>
        <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
    </head>

    <body class = "setup">
        <div class = heading id = "namesetupHeading">
            <h1>404</h1>
        </div>
        <div>
            <p style = "font-size: large; margin-top: -10px;">The page you are looking for does not exist. Go away.</p>
        </div>
        <form action = "..">
            <input type = "submit" class="leaveGP" style = "margin-top: 30px;"id = "leaveGroupButt" value = "Click this to go away">
        </form>
    </body>

    <script>

    </script>

</html>
