<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chat Room</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body id="pageBody">
        <div id="container">
            <header id="head">
                <h1 style="display:inline;">Chat Room</h1>
                <div id="mode">
                    <div class="item"><h4 id="lightMode" style="display:inline;">Light</h4></div>
                    <div class="item">
                        <label class="switch">
                            <input type="checkbox" id="checkBox" onchange="toggleCheck()">
                            <span class="slider round"></span>
                        </label>
                        <script>
                        function toggleCheck() {

                            if(document.getElementById("checkBox").checked){
                                document.getElementById("pageBody").style.backgroundColor="#303030";
                                document.getElementById("pageBody").style.color="white";
                                document.getElementById("head").style.color="white";


                            }
                            else {
                                document.getElementById("pageBody").style.backgroundColor="white";
                                document.getElementById("pageBody").style.color="black";
                                document.getElementById("head").style.color="black";
                            }
                        }
                        </script>
                    </div>
                    <div class="item"><h4 id="darkMode" style="display:inline;">Dark</h4></div>

                </div>
            </header>
            <div id="content">
                <textarea id="chat-log" cols="100" rows="20"></textarea><br>

            </div>

            <input id="chat-message-input" type="text" placeholder="Type here" color="gray">
            <input id="chat-message-submit" type="button" value="Send">
            <!{{ room_name|json_script:"room-name"}}>
            <script>
                const name = Math.random();
                const roomName = JSON.parse(document.getElementById('room-name').textContent);

                const chatSocket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/chat/'
                    + roomName
                    + '/'
                );

                chatSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    document.querySelector('#chat-log').value += (data.name + ": "+data.message + '\n');// the message is appended
                };

                chatSocket.onclose = function(e) {
                    console.error('Chat socket closed unexpectedly');
                };

                document.querySelector('#chat-message-input').focus();
                document.querySelector('#chat-message-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#chat-message-submit').click();
                    }
                };

                document.querySelector('#chat-message-submit').onclick = function(e) {
                    const messageInputDom = document.querySelector('#chat-message-input');
                    const message = messageInputDom.value;
                    const msg = JSON.stringify({
                        'message': message,
                        'name': name
                    });
                    chatSocket.send(msg);
                    messageInputDom.value = '';
                };
            </script>

            <footer>
                <h4>By OIC CompSci Gang &copy</h4>
            </footer>
        </div>
    </body>
</html>
