header{
    height: 50px;
    text-align: left;
    font-size: 20px;
    color: black;
}

body{

}
/*#container{
    background-color: white;
    width: 825px;
    padding: 10px;

}*/
#chat-log{
    border-radius: 15px;
    border: 2px solid black;
    height: 500px;





}
#chat-message-input{
    font-size: 17px;
    padding: 3px;
    border-radius: 15px;
    border: 2px solid black;
    width: 750px;
    height: 30px;


}
#chat-message-submit{
    font-size: 15px;
    padding: 3px;
    border-radius: 15px;
    border: 2px solid black;
    height: 30px;
    width: 60px;
    margin-top: 5px;
    float: right;
}
footer{
    position: absolute;
    bottom: 0

}
