*:focus {outline:none !important} /*disable html element highlight*/

header{
    display: flex;
    align-items: center;
    height: 70px;
    text-align: left;
    font-size: 23px;
    color: black;
}

#mode{
    padding-top: 13px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    margin-left: 788px;
}

.item{
    display: inline-block;
    vertical-align: middle;
}

#darkMode{
    padding: 4px;
}

#lightMode{
    padding: 4px;
}

.switch{
    position: relative;
    display: inline-block;
    top: 5px;
    left: 1px;
    width:  45px;
    height: 20px;
    border: 1px solid #CCC;
    border-radius: 20px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    right: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #161616;
}

input:focus + .slider {
    box-shadow: 0 0 1px #CCC;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}


body{
    font-family: "Helvetica Neue";
    padding-right: 17px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#chat-log{
    padding: 10px;
    border-radius: 15px;
    background-color: #F0F0F0;
    border: 2px solid black;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;/*reset from inline*/
    width: 1223px;
    height: 745px;
    margin:0;/*remove defaults*/
    font-family:  "Helvetica Neue";
    font-size: 15px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

footer{
    clear: both;
    position: relative;

}

#chat-message-input{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding: 5px;
    border-radius: 13px;
    border: 2px solid black;
    width: 1140px;
    height: 41px;
}

.sendButtonBlack{
    display: inline-block;
    position: relative;
    font-size: 20px;
    border-radius: 50%;
    border: 1;
    height: 53px;
    width: 53px;
    margin-left: 13px;
    background: url("../image/blackPaperplane.png");
}

.sendButtonWhite{
    display: inline-block;
    position: relative;
    font-size: 20px;
    border-radius: 50%;
    border: 1;
    height: 53px;
    width: 53px;
    margin-left: 13px;
    background: url("../image/whitePaperplane.png");
}

.container{
    display: flex;
    font-family: "Helvetica Neue";
    width: 100%;
}

.info-area{
    flex: 25%;
    margin: 0;
    display: flex;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;/*reset from inline*/
}


.button-else{
    flex: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 14px;

    height: 836px;
    border: 2px;


}

#userList{
    flex: 90%;
}

#groupID{
    flex: 10%;
    margin-bottom: 0;

}

.theButton{
    flex: 10%;
    height: 46px;
    border: 2px;
}

#leaveGroupButt{
    font-size: 25px;
    border-radius: 15px;
    border: 1;
    height: 53px;
    width: 95%;
    margin-left: 13px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}


.chat-area{
    padding-left: 13px;
    flex: 75%;

}


.setup /* Layout for all setup pages (index, select, createGroup)*/
{
    font-family: "Helvetica Neue";
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 800px;
    text-align: center;
    margin: 5px;
}

#nameDisplay
{
    font-size: x-large;
    position: absolute;
    top: 5px;
    right: 20px;
}

#backButton
{
    width: 120px;
    height: 46px;
    font-size: x-large;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 15px;
    border: 1;
}

#namesetupHeading
{
     font-size: xx-large;
     text-align: center;
}

#nameForm
{
    height: 33px;
    width: 512px;
    font-size: x-large;
    padding: 5px;
    border-radius: 13px;
    border: 2px solid black;
}

#nameButton
{
    margin-left: 10px;
    width: 80px;
    height: 46px;
    font-size: x-large;
    border-radius: 15px;
    border: 1;

}

#groupsetupHeading
{
    font-size: x-large;
    text-align: left;
    margin-left: 20px;
}

#groupsetupForm
{
    margin-left: 20px;
    height: 36px;
    width: 256px;
    font-size: x-large;
    padding: 5px;
    border-radius: 13px;
    border: 2px solid black;
}

#groupsetupButton
{
    margin-left: -1px;
    width: 100px;
    height: 44px;
    font-size: x-large;
    border-radius: 15px;
    border: 1;
}
